// https://docs.ci.trust-in-soft.com/reference/configuration-file
[
    {
        "name": "Convert hex to base64",
        "files": ["mcp1.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Fixed XOR",
        "files": ["mcp2.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Single-byte XOR cipher",
        "files": ["mcp3.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Detect single-character XOR",
        "files": ["mcp4.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Break repeating-key XOR",
        "files": ["mcp6.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "AES in ECB mode",
        "files": ["mcp7.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Detect AES in ECB mode",
        "files": ["mcp8.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Implement PKCS#7 padding",
        "files": ["mcp9.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Implement CBC mode",
        "files": ["mcp10.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "An ECB/CBC detection oracle",
        "files": ["mcp11.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Byte-at-a-time ECB decryption (Simple)",
        "files": ["mcp12.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "ECB cut-and-paste",
        "files": ["mcp13.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Byte-at-a-time ECB decryption (Harder)",
        "files": ["mcp14.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "PKCS#7 padding validation",
        "files": ["mcp15.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "CBC bitflipping attacks",
        "files": ["mcp16.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "The CBC padding oracle",
        "files": ["mcp17.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Implement CTR, the stream cipher mode",
        "files": ["mcp18.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Break fixed-nonce CTR mode using substitutions",
        "files": ["mcp19.c", "rijndael.c"],
        "compilation_cmd":"-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Break fixed-nonce CTR statistically",
        "files": ["mcp20.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Implement the MT19937 Mersenne Twister RNG",
        "files": ["mcp21.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Crack an MT19937 seed",
        "files": ["mcp22.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Clone an MT19937 RNG from its output",
        "files": ["mcp23.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Create the MT19937 stream cipher and break it",
        "files": ["mcp24.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Break \"random access read/write\" AES CTR",
        "files": ["mcp25.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "CTR bitflipping",
        "files": ["mcp26.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Recover the key from CBC with IV=Key",
        "files": ["mcp27.c", "rijndael.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Implement a SHA-1 keyed MAC",
        "files": ["mcp28.c", "sph/sha1.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Break a SHA-1 keyed MAC using length extension -- extend",
        "files": ["mcp29-extend.c", "sph/sha1.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Break a SHA-1 keyed MAC using length extension -- verify",
        "files": ["mcp29-verify.c", "sph/sha1.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Break an MD4 keyed MAC using length extension -- sign",
        "files": ["mcp30-sign.c", "sph/md4.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Break an MD4 keyed MAC using length extension -- extend",
        "files": ["mcp30-extend.c", "sph/md4.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "Break an MD4 keyed MAC using length extension -- verify",
        "files": ["mcp30-verify.c", "sph/md4.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "MD4 Collisions",
        "files": ["mcp55.c", "sph/md4.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    },
    {
        "name": "RC4 Single-Byte Biases",
        "files": ["mcp56.c"],
        "compilation_cmd": "-std=c99 -Wall -Werror -Wextra -Wno-unused -pedantic -g -O3"
    }
]